<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white-50 fixed-top">
  <a class="navbar-brand" routerLink="/">ScrumsCloud</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/org"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div *ngIf="!authentication.isLoggedIn()">
        <a
          class="btn btn-outline-info my-2 my-sm-0 mr-3"
          [routerLink]="['/register']"
        >
          Register
        </a>
      </div>

      <div *ngIf="!authentication.isLoggedIn()">
        <a
          class="btn btn-info my-2 my-sm-0"
          [routerLink]="['/login']"
        >
          Login
        </a>
      </div>

      <div *ngIf="authentication.isLoggedIn()">
        <a class="navbar-brand" routerLink="/org/profile">Logged in as {{this.authentication.currentUserValue.username}}</a>
      </div>

      <div *ngIf="authentication.isLoggedIn()">
        <a
          class="btn btn-danger my-2 my-sm-0 ml-3"
          (click)="authentication.logout()"
          [routerLink]="['/logout']"
        >
          Logout
        </a>
      </div>
    </form>
  </div>

</nav>
