<h2>Bitte gib den Namen deiner Organisation ein!</h2>
<form class="form-inline" [formGroup]="organisationForm">
  <div class="form-group mb-2">
    <label for="name" class="sr-only" >Name</label>
    <input type="text" class="form-control" id="name" formControlName="title">
  </div>
  <button type="submit" class="d-flex flex-row-reverse btn btn-primary mb-2 " [disabled]="organisationForm.invalid" (click)="submit()">Add</button>
</form>
<div *ngIf="added" class="alert alert-success" role="alert">
  The organisation <strong>{{ added.title }}</strong> has been added
</div>
