<body class="d-flex flex-column fixed-bottom">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; SCRUMS Cloud 2020</small>
      </div>
    </footer>
</body>
