.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: #343A40;
  padding: 10px;
  left: 0;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
