* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  margin-top: 80px;
  left: -250px;
  width: 250px;
  background: #343A40;
  transition: all .5s ease;
}

@media screen and (min-width: 600px) {
  .sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    background: #343A40;
    transition: all .5s ease;
  }
}


.sidebar header {
  font-size:22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #343A40;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size:20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .4s;
}
ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 20px;
}


#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: red;
  z-index: 99;
  border-radius: 3px;
}

// #343A40

label #btn {
  left: 20px;
  top: 85px;
  font-size: 35px;
  color: white;
  padding: 3px 6px;
  transition: all .5s;
}
label #cancel{
  z-index:1111;
  left: -220px;
  top: 85px;
  font-size: 30px;
  color: white;
  background: #343A40;
  padding: 4px 5px;
  transition: all .5s;
  opacity: 0;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 220px;
  opacity: 0.5;
}


