<input class="fixed-top" type="checkbox" id="check">
<label class="fixed-top" for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar fixed-top">

  <header>Navigation</header>
  <ul>

    <!--If User is not in a Organisation show New Organisation -->
    <li><a routerLink="/org/new"><i class="fas fa-qrcode"></i> New Organisation</a></li>

    <!-- Otherwise show the two or more other options-->

    <li><a routerLink="/org/list"><i class="fas fa-link"></i> My Organisation</a></li>
    <li><a routerLink="/org/members"><i class="fas fa-users"></i> Memberlist</a></li>
    <li><a routerLink="/org/profile"><i class="fas fa-user"></i> Profile</a></li>
  </ul>
</div>

