<app-header></app-header>
<div class="container">
  <h2>You have been successfully logged out!</h2>
  <div class="text-muted">Log in again? Click <a routerLink="/login">here</a>!</div>
</div>
<app-footer></app-footer>

